@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Courgette&family=Creepster&family=Fredoka:wght@500&family=Gayathri&family=Lexend+Mega&family=MuseoModerno&family=Nabla&family=Nosifer&family=Pacifico&family=Permanent+Marker&family=Trade+Winds&display=swap");

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: rgb(56, 97, 190);
  /* background: linear-gradient(
    0deg,
    rgba(56, 97, 190, 1) 0%,
    rgba(11, 115, 162, 1) 50%,
    rgba(56, 97, 190, 1) 100%
  ); */
  color: #f5f6f7;
  font-family: "Gayathri", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
  width: 40vw;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-on-page {
  width: 120px;
  border-radius: 50%;
  margin-top: -50px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.9rem 0 0.9rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input,
textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

a {
  color: #dfdfe2;
}

input[type="radio"] {
  accent-color: red;
}

input[type="checkbox"] {
  accent-color: green;
}

#bio {
  font-family: "Gayathri", sans-serif;
}

input[type="submit"] {
  font-family: "Gayathri", sans-serif;
  text-align: center;
  transform: translateY(-16px);
}

.parallax {
  background: rgb(56, 97, 190);
  background-image: linear-gradient(to right top, #e3c782, #e5bb85, #e2b18a, #dba78f, #d1a094, #ce9b97, #ca979b, #c4949e, #c591a5, #c390ae, #bf8fb8, #b690c3);tus
  
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
